<svg
  class="w-full h-auto"
  version="1.1"
  xmlns="http://www.w3.org/2000/svg"
  xmlns:xlink="http://www.w3.org/1999/xlink"
  x="0px"
  y="0px"
  viewBox="0 0 300 18"
  preserveAspectRatio="none"
>
  <path
    id="master-line"
    class="fill-secondary-container"
    d="M0 18C20 1 270 1 300 18 L300 19 L0 19 Z"
    stroke="none"
  ></path>
  <use xlink:href="#master-line" opacity="0"></use>
  
  <text
    id="mainText"
    class="tracking-[2px] font-extralight text-[3px] uppercase fill-on-background sm:block hidden"
    dy="-10%"
  >
    <textPath
      #masterTextPath
      id="masterTextPath"
      xlink:href="#master-line"
      startOffset="0%"
    >
      {{ text }}
    </textPath>
  </text>

  <text
    id="mainTextClone"
    class="tracking-[2px] font-extralight text-[3px] uppercase fill-on-background sm:block hidden"
    dy="-10%"
  >
    <textPath
      #masterTextPathClone
      id="masterTextPathClone"
      xlink:href="#master-line"
      [attr.startOffset]=`-${this.OFFSET}`
    >
      {{ text }}
    </textPath>
  </text>
</svg>