@import "tailwindcss";

@theme {
  --breakpoint-xs: 30rem;
  --color-primary: var(--mat-sys-primary);
  --color-secondary: var(--mat-sys-secondary);
  --color-text: var(--mat-sys-on-background);
  --color-surface: var(--mat-sys-surface);
  --color-on-surface: var(--mat-sys-on-surface);
  --color-background: var(--mat-sys-background);
  --color-on-background: var(--mat-sys-on-background);
  --color-secondary-container: var(--mat-sys-secondary-container);
  --color-on-secondary-container: var(--mat-sys-on-secondary-container);
  --color-outline: var(--mat-sys-outline);
}